
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}" />
    <title>Головна сторінка</title>
</head>
<body>

    <div class="background">
    </div>
<div class="hoverhide">
    <ul class="dropdown hide heading">
        <li class="dropdown-top-text">Music:</li>
     <li class="dropdown-top">
     <a class="dropdown-top" href="/">Styles</a>
     <ul class="dropdown-inside">
     <li><a href="/">Rap</a></li>
     <li><a href="/">Rock</a></li>
     <li><a href="/">Classic</a></li>
     <li><a href="/">Electronic</a></li>
     <li><a href="/">Dubstep</a></li>
     <li><a href="/">More..</a></li>
     </ul>
     </li>

     <li class="dropdown-top">
     <a class="dropdown-top" href="/">Singers</a>
     </li>

     <li class="dropdown-top">
     <a class="dropdown-top" href="/">Years</a>
     <ul class="dropdown-inside">
     <li><a href="/">60's</a></li>
     <li><a href="/">80's</a></li>
     <li><a href="/">2k's</a></li>
     <li><a href="/">New</a></li>
     </ul>
     </li>

     <li class="dropdown-top">
     <form class="dropdown-top-text">
         Search..
         <input class="search" type="text" action="" method="get" name="search">
     </form>
     </ul>
     </li>
 </ul>
</div>
<h1 class="h1">
Main Page > News
</h1>
<div class="blog">
    <div class="blog-post">
        <div class="blog-post-title">Some post
        </div>
        <div class="blog-post-text"><p><img src="mc.gif" class="grow">bla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-bla

        </p>
        </div>

    </div>
    <div class="blog-post">
        <div class="blog-post-title">Some post
        </div>
        <div class="blog-post-text"><p><img src="mc.gif" class="grow">bla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-bla

        </p>
        </div>

    </div>
    <div class="blog-post">
        <div class="blog-post-title">Some post
        </div>
        <div class="blog-post-text"><p><img src="mc.gif" class="grow">bla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-bla

        </p>
        </div>

    </div>
    <div class="blog-post">
        <div class="blog-post-title">Some post
        </div>
        <div class="blog-post-text"><p><img src="mc.gif" class="grow">bla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-bla

        </p>
        </div>

    </div>
    <div class="blog-post">
        <div class="blog-post-title">Some post
        </div>
        <div class="blog-post-text"><p><img src="mc.gif" class="grow">bla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-bla

        </p>
        </div>

    </div>
    <div class="blog-post">
        <div class="blog-post-title">Some post
        </div>
        <div class="blog-post-text"><p><img src="mc.gif" class="grow">bla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-blabla-bla

        </p>
        </div>

    </div>
</div>
<div>

</div>

<div>
</div>

<div>
</div>

<div>
</div>

<div>
</div>

<div>
</div>

<div>
</div>
<pre>








































































    sd











    dfn







</pre>
</body>
</html>
